
.Weather {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.weather-cards-div {
    display: flex;
    justify-content: space-around;
}

.weather-cards-top {
    display: flex;
    flex-direction:column;
    margin: 10px;
    width: 100%;
    align-items: center;
    margin-left: 50px;
}

.weather-cards-bottom {
    display: flex;
    flex-direction: column;
    margin: 10px;
    width: 100%;
    align-items: center;
    margin-right: 50px;
    
}

.weather-card {
    background-image: linear-gradient(180deg, #FFDD4A, #FE9000);
    height: 90px;
    width: 100px;
    text-align: center;
    margin-bottom: 20px;
    border-radius: 5px;
    color: #094074;
    box-shadow: 5px 10px 10px #bcb8b8;
}

.weekly-forecast-div {
    display: flex;
    justify-content: center ;
    align-items: center;
    background-image: var(--gradient);
    padding: 0px 5px;
    border-radius: 10px;
    max-width: 90vw;
    margin-bottom: 10px;
    box-shadow: 5px 10px 10px #bcb8b8;
    margin-bottom: 40px;
}

.weekly-forecast-div * {
    list-style: none;
    text-align: center;
}

.daily-div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin: 0.5rem 0.5rem;
}

.daily-div * {
    color: var(--dark-blue);
}

.max-temp {
    font-weight: 900;
}

.days {
    font-weight: 500;
}

.weather-icon {
    width: 150px;
    height: auto;
    z-index: -1;
}



.weather-searchbar-div {
    background-color: var(--light-blue);
    border: none;
    border-radius: 20px;
    padding: 5px;
    box-shadow: 5px 10px 10px #bcb8b8;
    margin-top: 20px;
}

.weather-input {
    border: none;
    background-color: var(--light-blue);
    margin-left: 10px;
    outline: none;
}

.weather-input::placeholder {
    color: #094074;
    opacity: 1;
    font-family: Comfortaa;
}

.search-icon {
    margin-right: 10px;
    color: #094074;
}

.iconify--akar-icons {
    vertical-align: -4px !important;
    cursor: pointer;
}

.current-temp { 
    margin-top: 10px;
    margin-left: 0.25rem;
    font-size: 3rem;
    font-weight: 900;
    margin-bottom: 0;
    color: #094074;
}

.city-name {
    color: #094074;
}

.city-temp {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-right: 25px;
}

.weather-today {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    margin-top: 35px;
    margin-bottom: 40px;
}

