
.main-menu{
    width: 100%;
    display:block;
    flex-direction: row;
    z-index: 1;
    margin: 0 auto;
    text-decoration: none;
}

.header {
  background: #094074;
  display: flex;
  height: 70px;

}

.header-content {
  align-items: center;
  display: flex;
  padding: 0 10px;
  justify-content: space-between;
  width: 100%;
  z-index: 1;
}

.menu {
  background: #094074;
  color: white;
  position: fixed;
  padding: 0 10px;
  width: 100%;
  top: 69px;
  transition: transform 0.5s;
  z-index: 0;
}

.menu-hide {
  transition-delay: 0.3s;
  transform: translateY(-100%);
}

.menu-show {
  transform: translateY(0);
}

.menu > ul {
  padding: 0;
  opacity: 1;
  list-style: none;
}

.menu > ul > li {
  margin: 10px 0;
}

.menu-link {
  color: white;
  transition: opacity 0.4s;
  text-decoration: none;
}

.menu-link-hide {
  opacity: 0;
}

.menu-link-show {
  transition-delay: 0.4s;
  opacity: 1;
}

.menu-icon {
    color: linear-gradient(180deg, #FFDD4A, #FE9000);

}