.todo {
  display: flex;
  flex-direction: row;
  margin: 10px;
  align-items: baseline;
}

.todo-list {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.todo-title {
  margin-right: 45px;
  color: var(--dark-blue);
}

.tick-cross {
  margin: 5px;
}

.add-todo {
  margin: 30px;
}

.add-todo-add {
  color: var(--dark-blue);
  font-family: "Comfortaa";
  font-size: 16px;
  border: none;
  border-radius: 5px;
  background-image: linear-gradient(180deg, #ffdd4a, #fe9000);
  box-shadow: 5px 10px 10px #bcb8b8;
  padding: 7px;
}
.add-todo-add:active {
  transform: translateY(4px);
}

.toggle-button {
  margin: 1.5px;
  font-family: "Comfortaa";
  background-image: linear-gradient(180deg, #ffdd4a, #fe9000);
  border: none;
  border-radius: 5px;
  padding: 9px;
}

.edit-button {
  margin: 1.5px;
  font-family: "Comfortaa";
  background-image: linear-gradient(180deg, #ffdd4a, #fe9000);
  border: none;
  border-radius: 5px;
  padding: 9px;
}

.delete-button {
  margin: 1.5px;
  font-family: "Comfortaa";
  background-image: linear-gradient(180deg, #ffdd4a, #fe9000);
  border: none;
  border-radius: 5px;
  padding: 9px;
}

.add-text {
  font: var(--dark-blue);
  outline: none;
  box-shadow: 5px 10px 10px #bcb8b8;
  border-radius: 5px;
  margin-right: 10px;
  border-width: 1px;
  padding: 3px 5px
}

.tick-cross {
  color: transparent;
  text-shadow: 0 0 0 #fe9000;
}

.edit-todo-input {
    border-radius: 5px;
    font-family: Comfortaa;
    border-width: 1px;
    padding: 4px;
}
