/* pads top of page so that the banner image is visible beneath navbar */
/* pads bottom of body so footer doesn't cover content */
.main-body {
    padding-top: 60px;
    padding-bottom: 50px;
}


.homebuttons{
    display: flex;
    justify-content: space-evenly;
    margin-top: 70px;
} 

.homebuttons1 {
    margin-left: 1.5rem;
    /* margin-right: 1rem; */
    /* width: 50%; */
    display: flex;
    flex-direction: column;
}

.homebuttons2 {
    /* margin-left: 1rem; */
    margin-right: 1.5rem;
    /* width: 50%; */
    display: flex;
    flex-direction: column;
}