@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300;400;500;600;700&display=swap');
:root {
  --dark-blue: #094074;
  --light-blue: #5ADBFF;
  --orange: #fe9000;
  --yellow: #ffdd4a;
  --gradient: linear-gradient(180deg, #FFDD4A, #FE9000);
}

body {
  font-family: 'Comfortaa', cursive, -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  margin: 0; 
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

/* universal for all the titles on pages, no need to import, just add this className*/
.page-title {
  font-size: 20px;
  margin-top: 25px;
  margin-left: 20px;
  color: #094074;
}

